/*
index.css will be covered by Styled-Component which as inner global style @/app/views/layouts/css.js
*/

/* root.css */

.root {
    background-color: #35aec4;
}

/* html body css */

html, body {
    height: 100vh;
    background: #ebeff0;
}


body {
    background: #d7da5b;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

/*
The last style  will be covered  the  next while the collision happened.
*/